<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <div class="mt-5">
        <div class="container bg-dark text-white rounded p-5 mt-5">
            <form action="/chat" method="get">
                <div class="form-group">
                    <label for="exampleInputEmail1">Type Your Name</label>
                    <input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <label for="exampleInputEmail1">Type Room Name</label>
                    <input type="text" name="room" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
        </div>
    </div>
</body>
</html>